# 문제 1.
- 문자 10개를 저장할 수 있는 리스트를 만들고 10개의 문자를 입력받아 입력받은 문자를 이어서 출력하는 프로그램을 작성하시오.
- 입력 예: A B C D E F G H I J
- 출력 예: ABCDEFGHIJ

In [1]:
list = []

for i in range(10): # 10번 입력해서 리스트에 모을 수있게만들고
  n = input("입력: ")
  list.append(n)

for i in range(10): # 옵션 달아서 출력해서 붙여서 보이게 한다.
  print(list[i], end="")

입력: a
입력: d
입력: f
입력: g
입력: h
입력: j
입력: t
입력: e
입력: u
입력: k
adfghjteuk

# 문제 2.
- 10개의 문자를 입력받아서 첫 번째 네 번째 일곱 번째 입력받은 문자를 차례로 출력하는 프로그램을 작성하시오.
- 입력 예: A B C D E F G H I J
- 출력 예: A D G

In [2]:
list = []

for i in range(10): # 10번 입력해서 리스트에 모을 수있게만들고
  n = input("입력: ")
  list.append(n)

print(list[0],list[3],list[6], end=" ") # 뭐.. 인덱스 지정해서 출력하면 되겠지.

입력: q
입력: w
입력: e
입력: r
입력:
입력: y
입력: u
입력: w
입력: e
입력: s
q r u

# 문제 3.
- 빈 리스트을 선언하고 정수를 차례로 입력받다가 0 이 입력되면 0 을 제외하고 그 때까지 입력된 정수를 가장 나중에 입력된 정수부터 차례대로 출력하는 프로그램을 작성하시오.
- 입력 예: 
    * 3 
    * 5
    * 10 
    * 55 
    * 0
- 출력 예: 55 10 5 3

In [5]:
list = []
n = int(input("정수: "))

while n != 0:   # 조건문 달아서 리스트에 쭉 넣어주다가
  list.append(n)
  n = int(input("정수: "))

print(list[::-1])  # 역순으로 출력

정수: 4
정수: 5
정수: 2
정수: 3
정수: 0
[3, 2, 5, 4]

# 문제 4.
- 1반부터 6반까지의 평균점수를 저장한 후 두 반의 반 번호를 입력받아 두 반 평균점수의 합을 출력하는 프로그램을 작성하시오.
- 반별 평균점수는 초기값으로 1반부터 차례로 85.6 79.5 83.1 80.0 78.2 75.0으로 초기화하고, 
- 출력은 소수 두 번째 자리에서 반올림하여 소수 첫째자리까지 한다.
- 입력 예: 1 3 (1반 3반을 의미)
- 출력 예: 168.7

In [8]:
# 문제가 잘 이해가 안가는데..? 입력 받아놓고 왜 초기화하는거지? 그냥 빈 리스트부터 채워나가면 되는건가..>?

list = []

a = 85.6
b = 79.5
c = 83.1
d = 80.0
e = 78.2
f = 75.0

list.append(a)
list.append(b)
list.append(c)
list.append(d)
list.append(e)
list.append(f)


x = int(input("첫번째반: "))
y = int(input("두번째반: "))

sum = round(list[x-1]+list[y-1], 1) # 리스트 인덱스로 찾으면 된다.
print(sum)

첫번째반: 1
두번째반: 3
168.7

# 문제 5.
- 10개의 정수를 입력받아 그 중 가장 작은 수를 출력하는 프로그램을 작성하시오.
- 입력 예: 5 10 8 55 6 31 12 24 61 2
- 출력 예: 2

In [9]:
list = []

for i in range(10): # 10번 입력해서 리스트에 모을 수있게만들고
  n = input("입력: ")
  list.append(n)

print(min(list)) # 최소값 출력

입력: 1
입력: 4
입력: 3
입력: 2
입력: 6
입력: 5
입력: 4
입력: 3
입력: 7
입력: 8
1

# 문제 6.
- 10개의 정수를 입력받아 100 미만의 수 중 가장 큰 수와 100 이상의 수 중 가장 작은 수를 출력하는 프로그램을 작성하시오.
- 입력 예: 88 123 659 15 443 1 99 313 105 48
- 출력 예: 99 105

In [11]:
list_down = [] # 100미만의 수 그룹
list_up = [] # 100 이상의 수의 그룹

for i in range(10): # 10번 입력해서 리스트에 모을 수있게만들고
  n = int(input("입력: "))
  if n >= 100:      # n값이 100이상이냐에 따라 들어가는 그룹을 분류해서
    list_up.append(n) 
  else:
    list_down.append(n)

print(max(list_down)) # 원하는 그룹에서 최소값 최대값을 뽑는다.
print(min(list_up))

입력: 1
입력: 13
입력: 65
입력: 177
입력: 188
입력: 299
입력: 177
입력: 99
입력: 52
입력: 111
99
111

# 문제 7.
- 10개의 정수를 입력받아 리스트에 저장한 후 짝수 번째 입력된 값의 합과 홀수 번째 입력된 값의 평균을 출력하는 프로그램을 작성하시오.
- 평균은 반올림하여 소수첫째자리까지 출력한다.
- 입력 예: 95 100 88 65 76 89 58 93 77 99
- 출력 예: 
    * sum : 446
    * avg : 78.8

In [17]:
list = []

even_sum = 0 # 짝수번째 수의 합들이다.
n_e = 0 # 짝수번째 수의 갯수들이다.



odd_sum = 0 # 홀수도 만들어준다.
n_o = 0



for i in range(10): # 10번 입력해서 리스트에 모을 수있게만들고
  n = int(input("입력: "))
  if i % 2 == 1: # i 가 짝수여야 홀수번째 수다.
    even_sum += n
    n_e += 1
  if i % 2 == 0: 
    odd_sum += n
    n_o += 1

odd_avg = round(odd_sum / n_o, 1) 
print(even_sum) 
print(odd_avg)

입력: 95
입력: 100
입력: 88
입력: 65
입력: 76
입력: 89
입력: 58
입력: 93
입력: 77
입력: 99
446
78.8

# 문제 8.
- 10개의 정수를 입력받아 리스트에 저장한 후 내림차순으로 정렬하여 출력하시오.
- 입력 예: 95 100 88 65 76 89 58 93 77 99
- 출력 예: 100 99 95 93 89 88 77 76 65 58

In [23]:
list = []

for i in range(10): # 10번 입력해서 리스트에 모을 수있게만들고
  n = int(input("입력: "))
  list.append(n)

list.sort(reverse=True) # ,,, 이렇게 하면 내림차순이라 하더라. 트루 빼면 오름차순이고.
print(list)

입력: 1
입력: 3
입력: 6
입력: 5
입력: 4
입력: 3
입력: 7
입력: 3
입력: 2
입력: 5
[7, 6, 5, 5, 4, 3, 3, 3, 2, 1]