# 문제 1.
## 1부터 100까지의 정수 중 한 개를 입력받아 100 보다 작은 배수들을 차례로 출력하다가 10 의 배수가 출력되면 프로그램을 종료하도록 프로그램을 작성하시오.
- 입력 예: 7
- 출력 예: 7 14 21 28 35 42 49 56 63 70

In [16]:
num = int(input("num: ")) # 수받고

i = 1 #곱할 수를 일단 1부터 시작

while True:
  st = print(num * i," ", end=" ") # 하나하나 곱해가면서 문자열로 연결
  i += 1
  if num * i % 10 == 0: # 10의 배수 등장하면 break
    st = print(num*i)
    break

num: 5
5   10

입력: 13
출력: 13 26 39 52 65 78 91

입력: 13
출력: 13 26 39 52 65 78 91

# 문제 2.
## 자연수 n을 입력받아 "출력 예"와 같이 공백으로 구분하여 출력하는 프로그램을 작성하시오.
- 입력 예: 3

In [ ]:
    1
  1 2
1 2 3

    1
  1 3
1 3 5

In [21]:
# 잘 모르겠다.... 해석이 안된다.
# for row in range(n):
#   for col in range(n):
#       if col >= (n-1)-row:



n = int(input("num: "))

for i in range(n):
  print(" "* (n-1),i+1, (n+2) * i)

num: 3
   4 0
   4 5
   4 10

# 문제 3.
## 자연수 n을 입력받아 "출력 예"와 같이 공백으로 구분하여 출력되는 프로그램을 작성하시오.
- 입력 예 : 3

In [ ]:
1 2 3
  4 5
    6
    
1 3 5
  7 9
    11

In [ ]:
skip

입력: 3
1 2 3
  4 5
    6

# 문제 4.
## 10개의 정수를 입력받아 100 미만의 수 중 가장 큰 수와 100 이상의 수 중 가장 작은 수를 출력하는 프로그램을 작성하시오.
- List 데이터 구조를 활용하시오.
- 입력 예: 88 123 659 15 443 1 99 313 105 48
- 출력 예: 99 105

In [28]:
list = []

while len(list) != 10: # 리스트안의 목록이 10개가 될때까지 반복
  num = int(input("num: "))
  list.append(num)
  if len(list) == 10:
    break


print(list)
print(max(list)) # 최대값 최소값 출력
print(min(list))

num: 1
num: 2
num: 3
num: 4
num: 5
num: 6
num: 7
num: 8
num: 9
num: 0
[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
9

# 문제 5.
## 리스트을 선언한 후 정수를 차례로 입력 받다가 -1이 입력되면 입력을 중단하고, -1을 제외한 마지막 세 개의 정수를 출력하는 프로그램을 작성하시오. 
- 입력받은 정수가 -1을 제외하고 3개 미만일 경우에는 -1을 제외하고 입력받은 정수를 모두 출력한다.
- 입력 예: 30 20 10 60 80 -1
- 출력 예: 10 60 80

In [41]:
list = []
n = int(input("정수: "))

while n != -1:
  list.append(n) # 리스트에 추가해나가면서
  # print(list)
  n = int(input("정수: "))
    

print(list[:-4:-1]) # 역순으로 출력

정수: 1
정수: -1
[1]

# 문제 6. 
## 사용자에게 base문자열을 첫 줄에 입력받고,  다음으로 찾고자하는 문자 1개를 입력받아 문자열 내의 검색 문자의 모든 위치를 출력하는 프로그램을 작성하시오.
- 첫 번째 위치는 0번이며 리스트에 없는 문자가 입력되면 "none" 라는 메시지를 출력하고 끝내는 프로그램을 작성하시오.
- 예제: "my name is dean" 을 base 문자열로 입력하고, 찾고자 하는 문자를 'd'로 입력하면 11을 출력해주면 된다.
- 만약, 찾으려는 문자가 2개 이상인 경우에는 모든 위치를 출력해준다.

In [43]:
sen = input("write: ")
alp = input("찾고싶은 문자: ")

loc = [] # 위치를 알려줄 리스트 묶음이다.


for i in range(len(sen)): # 문장을 하나하나 찾아본다.
  if alp == sen[i]: 
    loc.append(i)  # 찾고싶은 문자와 일치하는 i값을 리스트에 입력한다.

if len(loc) == 0: # 리스트에 아무것도 안들어있다면 none을 출력한다.
  print("none")

print(loc)

write: my name is dean
찾고싶은 문자: d
[11]

입력 문자열: my name is dean
찾고 싶은 문자: a
[4, 13]

# 문제 7.
## 학생들의 점수를 입력을 받다가 0이 입력되면 그 때까지 입력받은 점수를 10점 단위로 구분하여 점수대별 학생 수를 출력하는 프로그램을 작성하시오. 
- 1명도 없는 점수는 출력하지 않는다.
- 입력 예: 63 80 95 100 46 64 88 0

In [ ]:
출력 예: 
100 : 1 person
90 : 1 person
80 : 2 person
60 : 2 person
40 : 1 person

In [45]:
# 점수대별로 리스트를 만든다.

a = [] # a 부터 100점, 90점 80점 ....
b = []
c = []
d = []
e = []
num = int(input("점수는?: "))

while num != 0:
  if num >= 90:
    a.append(num)
    num = int(input("점수는?: "))
    continue
  elif num >=80:
    b.append(num)
    num = int(input("점수는?: "))
    continue
  elif num >=70:
    c.append(num)
    num = int(input("점수는?: "))
    continue
  elif num >=60:
    d.append(num)
    num = int(input("점수는?: "))
    continue
  elif num > 0:  # 뭐 반복이므로 60점 아래로는 10점씩 안자르고 편의상 여기서 자르겠다.
    e.append(num)
    num = int(input("점수는?: "))
    continue
  if num == 0: # 0이 입력도면 탈출한다.
    break

print("90점이상: ", len(a),"명")  # 리스트에 포함된 점수의 갯수로 사람수를 체크한다.
print("80점이상: ", len(b),"명")
print("70점이상: ", len(c),"명")
print("60점이상: ", len(d),"명")
print("60점 미만: ", len(e),"명")

점수는?: 92
점수는?: 55
점수는?: 84
점수는?: 78
점수는?: 93
점수는?: 89
점수는?: 92
점수는?: 93
점수는?: 0
90점이상:  4
80점이상:  2
70점이상:  1
60점이상:  0
60점 미만:  1

# 문제 8.
## 소수(prime number)란 1보다 큰 자연수 중 1과 자기 자신 두 개만을 약수로 갖는 수를 말한다. 
- 자연수 M과 N을 입력받아 M부터 N까지 소수의 개수를 구하여 출력하는 프로그램을 작성하시오.
- M이상 N이하의 자연수 중 소수가 몇 개인지 구하여 출력한다.
- 입력 예: 10 100
- 출력 예: 21

In [50]:
n1 = int(input("첫번째수: "))
n2 = int(input("두번째수: "))
# 문제 성격성 무조건 첫번째 수가 작다고 가정하겠다.

prime_num = 0 # 소수의 갯수다.

for i in range(n1, n2 + 1): #두 자연수의 사이의 수를 돌려보면서
  num = 0 # 약수의 갯수
  for x in range(1, i+1):
    if i % x ==0:
      num += 1
  if num == 2: # 1과 자기자신으로만 나눠떨어진다면 소수다.
    prime_num += 1

print(prime_num)

첫번째수: 4
두번째수: 11
3

# 보너스
## 자연수 M과 N이 주어질 때 M이상 N이하의 자연수 중 소수인 것을 모두 골라 이들 소수의 합과 최소값을 찾는 프로그램을 작성하시오.

- 예를 들어 M=60, N=100이 경우 60이상 100이하의 자연수 중 소수는 61, 67, 71, 73, 79, 83, 89, 97 총 8개가 있으므로, 
- 이들 소수의 합은 620이고, 최소값은 61이 된다.

# 문제 9.
## 아래의 결과를 보이도록 프로그램을 작성하시오.

In [ ]:
   *
  ***
 *****
*******

In [52]:
n = int(input("높이를 입력하세요: "))

for i in range(1, n+1):
  print(" "*(n-i),"*"*((i*2)-1)," "*(n-i))

높이를 입력하세요: 4
    *
   ***
  *****
 *******

# 문제 10.
## 아래의 피라미드 모형을 출력하시오.
- 출력 결과에서 #은 공백(space)로 처리해도 됨.

In [ ]:
###*###
##***##
#*****#
*******
#*****#
##***##
###*###

In [ ]:
 *
***
 *

In [ ]:
# for 구문으로 이해가 잘 안되니 이런게 나오면 못푸는구나.;;

# 보너스2
## 삼각형의 높이 N을 입력받아서 아래와 같이 문자 'A'부터 차례대로 왼쪽 대각선으로 채워서 삼각형 모양을 출력하는 프로그램을 작성하시오.
- 입력 예 : 5

In [ ]:
        A
      B F
    C G J
  D H K M
E I L N O

# 문제 11.
## 2진수를 입력받아 10진수로 변환하여 출력하는 프로그램을 작성하시오.
- 입력 예: 10101
- 출력 예: 21

In [ ]:
two = input("2진수를 입력하시오: ")

two_rev = two[::-1] # 글자를 뒤집는다.

n = 0
value = 0 # 출력할 10진수 값

for i in range(len(two_rev)):
    value += int(two_rev[i]) * (2**n)  # 인덱스가 하나 늘어날때마다 2**n 의 n값을 하나씩 늘려서 더해준다.
    n = n+1


print(value)

:o

# 문제 12.

## 복호화 키와 암호 문자를 입력으로 받아 원문을 구하는 프로그램을 구현하시오. 복호화 키는 26개의 소문자로 주어지며, a,b,c,d... 를 순서대로 복호화 키 문자로 대치한다는 것을 뜻한다.

 

- 예를 들어, 복호화 키가 "eydbkmiqugjxlvtzpnwohracsf" 와 같이 주어진다고 하자, 

- 그러면 이는 다음과 같다 - a 문자는 e, b 문자는 y, ..., z 문자는 f로 바꿔줌.

- 암호화 된 문자는 대소문자 혹은 공백이 올수 있고 대소문자는 대문자로 소문자는 소문자로 치환 규칙에 맞게 출력하고 , 

- 공백문자는 그대로 출력한다.

- 입력 예: 
- eydbkmiqugjxlvtzpnwohracsf
- Kifq oua zarxa suar bti yaagrj fa xtfgrj
- 출력 예:
- Jump the fence when you seeing me coming

In [56]:
# 에고 스킵

alp = "abcdefghijklmnopqrstuvwxyz"
ALP = alp.upper()

bok = input("복호화키: ")
py = input("평서문: ")


for n in range(len(py)): # 우선 평서문의 길이만큼 하나하나 글자를 따져본다.
  py[n] ==

NameError: ignored

# diamond code

Enter a floor of diamond(odd)[quit: -1]: 3
  *
 ***
  *
Enter a floor of diamond(odd)[quit: -1]: 1
*
Enter a floor of diamond(odd)[quit: -1]: 5
    *
   ***
  *****
   ***
    *
Enter a floor of diamond(odd)[quit: -1]: 7
      *
     ***
    *****
   *******
    *****
     ***
      *
Enter a floor of diamond(odd)[quit: -1]: -1

mid: 0
*
==================
mid: 1
 *
***
 *
==================
mid: 2
  *
 ***
*****
 ***
  *
==================
mid: 3
   *
  ***
 *****
*******
 *****
  ***
   *
==================
mid: 4
    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *
==================