# 문제 1.(for)
## for 문을 이용하여 1부터 입력받은 정수까지의 합을 구하여 출력하는 프로그램을 작성하시오.
- 100 이하의 양의 정수만 입력된다. 
- 입력 예: 10
- 출력 예: 55

In [ ]:
n = int(input("100이하의 정수를 입력해주세요: ")) 
sum = 0

if n <= 100:      # 100이하의 수일때만 연산 시작
  for i in range(1, n+1): # n 까지 더해서 마지막 sum 값만 호출하여 최종 값을 출력한다.
    sum += i
  print(sum)
else:
  print("100이하의 수를 입력해주세요")

100이하의 정수를 입력해주세요: 10
45

# 문제 2.
## 정수를 계속 입력받다가 100 이상의 수가 입력이 되면 마지막 입력된 수를 포함하여 합계와 평균을 출력하는 프로그램을 작성하시오.

- 평균은 반올림하여 소수 첫째자리까지 출력한다.

In [ ]:
# while 구문으로 100이하의 조건일때 반복시키다가 100이상의 수가 입력되면 빠져나오면서 결과를 출력하고 싶다.

print("100 이상의 수를 넣으면 그 수까지 포함된 결과가 나오며 프로그램이 종료됩니다.") # 친절하게 설명해준다.
n = int(input("수를 입력하세요: "))
sum = 0 # 합계의 변수
i = 0 # 횟수의 변수

while n < 100:
  sum += n
  i += 1 
  n = int(input("다음수를 입력하세요: ")) # 새로 수를 또 받고 continue로 반복시킨다.
  continue

sum += n # 100 이상의 수가 입력되면 반복문에서 나올 것이기 때문에 마지막으로 더해준다.
i += 1
avr = round(sum / i, 1) # 평균. 소수점 첫째자리까지 출력.

print("합계:",sum)
print("평균:",avr)

100 이상의 수를 넣으면 그 수까지 포함된 결과가 나오며 프로그램이 종료됩니다.
수를 입력하세요: 4
다음수를 입력하세요: 6
다음수를 입력하세요: 99
다음수를 입력하세요: 101
합계: 210
평균: 52.5

# 문제 3.
## 정수를 입력받아서 3의 배수가 아닌 경우에는 아무 작업도 하지 않고, 3의 배수인 경우에는 3으로 나눈몫을 출력하는 작업을 반복하다가 -1이 입력되면 종료하는 프로그램을 작성하시오.
예시:
- 5
- 12 
- <h2>4</h2>
- 21
- <h2>7</h2>
- 100
- -1

In [ ]:
# while 구문을 활용하되 조건을 != -1 로 설정하면 될 것 같다.

n = int(input("정수를 입력하세요: ")) # 수를 받고

while n != -1: # -1이 아니면 반복해서 숫자를 받고
  if n % 3 == 0:   # 만약 3의 배수면
    print(n//3)    # 3으로 나눈 몫을 출력하고
  else:
    print(n)       # 아니면 그냥 출력한다.
  n = int(input("다음수를 입력하세요: "))  
  
print("종료")

정수를 입력하세요: 1
1
다음수를 입력하세요: 2
2
다음수를 입력하세요: 3
1
다음수를 입력하세요: 4
4
다음수를 입력하세요: 5
5
다음수를 입력하세요: 6
2
다음수를 입력하세요: 7
7
다음수를 입력하세요: -1
종료

# 보너스(for)
## 아래와 같은 모양으로 출력하는 프로그램을 작성하시오.
 - 사용자에게 숫자를 입력받아 입력 받은 높이 만큼의 삼각형을 출력하시오.
 - 입력 예: 5

In [ ]:
    *
   **
  ***
 ****
*****

In [ ]:
# for 쓰면 될거같긴한데 오른쪽에 몰아서 정렬이라니 흠흠
# (입력한수-1) 만큼의 공백을 앞에 출력해서 마지막에 * 달면 될거같다.

n = int(input("높이를 입력하세요: "))

for i in range(1, n+1):
  print(" "*(n-i),"*"*i)

높이를 입력하세요: 5
     *
    **
   ***
  ****
 *****

# 문제 4. 
## 아래와 같이 나라 이름을 출력하고 숫자를 입력받아 해당하는 나라의 수도를 출력하는 작업을 반복하다가 해당하는 번호 이외의 숫자가 입력되면 "none"라고 출력한 후 종료하는 프로그램을 작성하시오.

* 각 나라의 수도 : 
- 대한민국 = 서울(Seoul)
- 미국 = 워싱턴(Washington)
- 일본 = 동경(Tokyo)
- 중국 = 북경(Beijing)

예시
입력 예:
1. Korea
2. USA
3. Japan
4. China
number? 1

출력 예:
Seoul

1. Korea
2. USA
3. Japan
4. China
number? 5

none

In [4]:
while True :
  num = int(input("각나라의 수도:\n1. Korea\n2. USA\n3. Japan\n4. China\n번호를 입력하세요: ")) # 목록을 작성하고
  if num == 1: # 해당 번호를 입력했을 때 나오는 도시 이름을 설정해놓고
    print("Seoul")
  elif num == 2 :
    print("Washington")
  elif num == 3 :
    print("Tokyo")
  elif num == 4 :
    print("Beijing")
  else : # 1.2.3.4. 가 아닌 다른번호가 나오면 break로 종료한다.
    print("none")
    break

각나라의 수도:
1. Korea
2. USA
3. Japan
4. China
번호를 입력하세요: 3
Tokyo
각나라의 수도:
1. Korea
2. USA
3. Japan
4. China
번호를 입력하세요: 4
Beijing
각나라의 수도:
1. Korea
2. USA
3. Japan
4. China
번호를 입력하세요: 5
none

# 문제 5.
## 0 이상의 정수들이 공백으로 구분되어 반복적으로 주어진다. 0이 입력되면 반복문을 멈추고 그 전까지 입력받은 수들에 대하여 홀수의 개수와 짝수의 개수를 출력하는 프로그램을 작성하시오.
- 입력 예: 9 7 10 5 33 65 0
- 출력 예: 
 odd : 5
 even : 1

In [15]:
# 얼마나 많은 수를 입력받을지 모르므로 while문으로 시작한다.

list = "" # 공백으로 구분되어 반복적으로 보여주기위해 하나로 묶는다.
n = int(input("input: "))
odd = 0 # 초기 홀수갯수
even = 0 # 초기 짝수갯수


while n != 0:  
  list += " "+str(n)    # 반복하는 동안 문자열 list에는 띄어쓰기 + 숫자를 더해간다.
  if n % 2 == 0:        # n이 홀수면 odd에, 짝수면 even 에 +1을 해간다
    even += 1
  if n % 2 == 1:
    odd += 1
  print(list)
  n = int(input("input: "))

print(list + " 0")
print("odd:",odd,"even:",even)

input: 1
 1
input: 2
 1 2
input: 24
 1 2 24
input: 66
 1 2 24 66
input: 75
 1 2 24 66 75
input: 0
 1 2 24 66 75 0
odd: 2 even: 3

# 문제 6.
## 삼각형의 밑변의 길이와 높이를 입력받아 넓이를 출력하고, "Continue? "에서 하나의 문자를 입력받아 그 문자가 'Y' 나 'y' 이면 작업을 반복하고 다른 문자이면 종료하는 프로그램을 작성하시오.

- 넓이는 반올림하여 소수 첫째자리까지 출력한다.
예시
###### Base = 11
###### Height = 5
###### Triangle width = 27.5
###### Continue? Y
###### Base = 10
###### Height = 10
###### Triangle width = 50.0
###### Continue? N

In [25]:
# 언제까지 수를 받을지 모를땐 역시 while

while x == "y" or x == "Y": # x 가 문자열 y나 문자열 Y 일때 계속 반복한다.
  l = int(input("밑변: "))
  h = int(input("높이: "))
  width = round((l * h) / 2, 1)
  print("넓이: ",width)
  print("Continue?")
  x = input()

밑변: 2
높이: 4
넓이:  4.0
Continue?
y
밑변: 2
높이: 4
넓이:  4.0
Continue?
n

# 문제 7.(for)
## 100 이하의 두 개의 정수를 입력받아 작은 수부터 큰 수까지 차례대로 출력하는 프로그램을 작성하시오.
- 입력 예: 5 10
- 출력 예: 5 6 7 8 9 10

In [36]:
first = int(input("첫번째 수:"))
second = int(input("두번째 수:"))

i = [] # 출력할 리스트를 준비

# 작은수부터 큰수이므로 두 수 중 어느게 큰지 확인해야한다.
if first > second: # 반복문을 돌면서 인자를 리스트에 추가해나간 후 마지막에 출력한다.
  for x in range(second, first+1): 
    i.append(x)
elif second > first:
  for x in range(first, second+1):
    i.append(x)
print(i)

첫번째 수:5
두번째 수:2
[2, 3, 4, 5]

# 문제 8.(for)
## 두 개의 정수를 입력받아 두 정수 사이(두 정수를 포함)에 3의 배수이거나 5의 배수인 수들의 합과 평균을 출력하는 프로그램을 작성하시오.
- 평균은 반올림하여 소수 첫째자리까지 출력한다.
- 입력 예: 10 15
- 출력 예: 
sum : 37
avg : 12.3

In [41]:
# 윗문제에서 만든 리스트를 그대로 차용해서 쓰겠다.

first = int(input("첫번째 수:"))
second = int(input("두번째 수:"))

sum = 0 # 합을 준비한다.
n = 0 # 평균을 구하기 위해 횟수를 준비한다.




# 두 수 중 어느게 큰지 확인해야한다.

if first > second: # 반복문을 돌면서 인자를 리스트에 추가해나간다.
  for x in range(second, first+1): 
    if x % 3 == 0 or x % 5 == 0 :    # 반복문을 돌면서 3의 배수 혹은 5의 배수인 숫자를 찾아 더해간다. 
      sum += x
      n += 1
    
elif second > first:
  for x in range(first, second+1):
    if x % 3 == 0 or x % 5 == 0 :     
      sum += x
      n += 1
      
avg = round(sum / n, 1) # 평균은 소숫점 첫째자리까지로 요구했다.
print("sum: ",sum,"avg: ",avg)

첫번째 수:1
두번째 수:10
sum:  33 avg:  6.6

# 문제 9. (for)
## 2부터 9까지의 수 중 2개를 입력받아 입력받은 수 사이의 구구단을 출력하는 프로그램을 작성하시오.
- 단 반드시 먼저 입력된 수의 구구단부터 아래의 형식에 맞게 출력하여야 한다.
- 구구단 사이의 공백은 3칸이다.
- 입력 예: 5 3
- 출력 예:
5 * 1 =  5   4 * 1 =  4   3 * 1 =  3
5 * 2 = 10   4 * 2 =  8   3 * 2 =  6
5 * 3 = 15   4 * 3 = 12   3 * 3 =  9
5 * 4 = 20   4 * 4 = 16   3 * 4 = 12
5 * 5 = 25   4 * 5 = 20   3 * 5 = 15
5 * 6 = 30   4 * 6 = 24   3 * 6 = 18
5 * 7 = 35   4 * 7 = 28   3 * 7 = 21
5 * 8 = 40   4 * 8 = 32   3 * 8 = 24
5 * 9 = 45   4 * 9 = 36   3 * 9 = 27

In [71]:
first = int(input("첫번째 수:"))
second = int(input("두번째 수:"))
 
for i in range(1,10):   # 1부터 9까지 곱하므로 범위는 1, 10
  for u in range(0,second):
    print((first - u), "*", i, "=", (first - u) * i, end="   ")  # 띄어쓰기 세칸으로 나뉘게끔 end 옵션을 살포시.
    
# 막상 만들어보니 위에 있던 별로 삼각형 만드는거랑 비슷하다...

첫번째 수:5
두번째 수:3
5 * 1 = 5   4 * 1 = 4   3 * 1 = 3   5 * 2 = 10   4 * 2 = 8   3 * 2 = 6   5 * 3 = 15   4 * 3 = 12   3 * 3 = 9   5 * 4 = 20   4 * 4 = 16   3 * 4 = 12   5 * 5 = 25   4 * 5 = 20   3 * 5 = 15   5 * 6 = 30   4 * 6 = 24   3 * 6 = 18   5 * 7 = 35   4 * 7 = 28   3 * 7 = 21   5 * 8 = 40   4 * 8 = 32   3 * 8 = 24   5 * 9 = 45   4 * 9 = 36   3 * 9 = 27

# 보너스2 (for)
## 아래와 같은 모양으로 출력하는 프로그램을 작성하시오.
 - 사용자에게 숫자를 입력받아 입력 받은 높이 만큼의 삼각형을 출력하시오.
 - 입력 예: 5

In [ ]:
*****
 ****
  ***
   **
    *

In [69]:
# 입력받은 수에 따라 앞에 공백 만들고 뒤에 별만들고 반복하기, 위에만들었던 것의 작은 응용이네.

n = int(input("숫자:"))

for i in range(0,n):
  print((" " * i) + ("*" * (n-i)))

숫자:9
*********
 ********
  *******
   ******
    *****
     ****
      ***
       **
        *